@inherits LayoutComponentBase
@using Client.Security 
@inject UserManager User

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (User.LoggedIn)
        {
            <p>@User.Access</p>
        } else {
            <a href="login">Login</a>
            <a href="register">Register</a>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
