@page "/login"
@using Client.Security 
@inject HttpClient Http
@inject NavigationManager UriHelper 
@inject UserManager User

<h1>Login</h1>

<form @onsubmit="() => LoginAsync()">

    <h2>Input your credentials:</h2>

    <label>Username:</label>
    <input type="text" @bind-value="Username" />
    <br />
    <label>Password:</label>
    <input type="text" @bind-value="Password" />
    <br />

    <input type="submit" value="Login" />

    <p style="color:red">@ErrorMessage</p>
</form>

@code {
    private string Username { get; set; }
    private string Password { get; set; }
    private string ErrorMessage { get; set; } = "";

    public async Task LoginAsync()
    {
        if (Username != null || Username == "")
        {
            ErrorMessage = "You must input username";
            Password = "";
            return;
        }

        if(Password != null || Password == "")
        {
            ErrorMessage = "You must input password";
            Password = "";
            return;
        }

        Console.WriteLine("Login called");

        string hashedPass = UserManager.HashPassword(Password);

        List<bool> signedIn = await Http.GetFromJsonAsync<List<bool>>($"user/login?username={Username}&password={hashedPass}");

        if (!signedIn[0])
        {
            ErrorMessage = "Could not log in";
            Password = "";
            return;
        }

        User.LoggedIn = true;
        if(signedIn[1] == true)
        {
            User.Access = UserManager.UserPrivilege.Admin;
        } else
        {
            User.Access = UserManager.UserPrivilege.User;
        }

        UriHelper.NavigateTo("schedule");
    }
}
